h1 {
    text-align: center;
  }

  body {
    background: #f1f1f1;
    font-family: Poppins;
  }
  #todo-list {
    width: 500px;
    margin: 60px auto;
  }
  #todoAdd, input{
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #a1a1a1;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
  form, .todo {
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
  }
  .todo {
    display: flex;
    flex-direction: column;
  }
    
  button {
    font-size: 16px;
    background-color: rgb(62, 138, 151);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(30, 100, 112);
  }
  button:active {
    background-color: rgb(30, 100, 112);
  }
  button:focus {
    outline: 0;
  }
  input[type='text'] { font-size: 20px;}
  .todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    margin: 0 16px 0 0;
    cursor: pointer;
  }
  .todo-text input {
    padding: 4px;
  }
  .todo-text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 1cm;
    display: flex;
    align-self: center;
  }
  .todo-completed {
    display: flex;
    margin: 10px 0;
  }
  .todo-actions {
    display: flex;
    justify-content: space-between;
  }

  #completed {
    margin-left: 15px;
  }


  /* Button ------------------------------------------------------------------ */

  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: rgb(255, 135, 65);
    background: linear-gradient(
      250deg,
      rgba(255, 135, 65, 1) 15%,
      rgba(255, 65, 65, 1) 65%
    );
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px, 2px);
  }

  /* Edit Button ------------------------------------------------------------------ */

  .BtnEdit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: rgb(65, 141, 255);
    background: linear-gradient(
      250deg,
      rgb(65, 179, 255) 15%,
      rgb(65, 78, 255) 65%
    );
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  /* hover effect on button width */
  .BtnEdit:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .BtnEdit:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    
  }
  /* hover effect button's text */
  .BtnEdit:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .BtnEdit:active {
    transform: translate(2px, 2px);
  }
  
